body {
    font-family: 'Abel', sans-serif;
    background: #FFF8E8;
}

h1 {
    color: #990D35;
    text-align: center;
    margin-bottom: 10%;
}

button {
    margin: 0 auto;
    width: 45%;
    margin-left: 3%;
    height: 150px;
}

#createback, #joinback {
    width: 100%;
    height: auto;
    margin-left: 0;
}

#lobbyback {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-top: 5%;
}

input {
    margin-bottom: 3%;
}

.container {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

#createlobby, #joinlobby {
    display: block;
    margin: 0 auto;
    text-align: center;
}