body {
  padding: 50px;
	font: 14px  'Abel', sans-serif;
	background: #FFF8E8;
}

form {
	margin: 0;
}

#user-check, #signup {
	width: 30%;
	display: block;
	margin: 0 auto;
}

#signup form {
	margin-top: 5%;
}

#signup form button {
	width: 100%;
}

#user-check p{
	margin-top: 3%;
	text-align: center;
	display: inline-block;
	width: 100%;
}

#user-check p a {
	color: black;
}

#signup {
	display: none;
}

#logo {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#user-login input {
	width: 100%;
	padding: 3%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	border-radius: 3px;
	border: solid .5px;
	font-size: 16px;
}

#user-login button {
	width: 100%;
	margin-top: 3%;
}

.form-check {
	width: 50%;
	padding-left: 0;
}

.form-check label {
	margin-left: 6%;
    font-size: 16px;
}

#user-check a {
	width: 100%;

}