body {
    margin: 2%;
}

canvas {
    width: 80% !important;
    border: solid black 1px;
    float: left;
}

.controls {
    float: right;
    border: solid black 1px;
    width: 18%;
}

.tools {
    width: 30px;
}