body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#user-check, #login, #signup {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#user-check .btn {
	padding: 10px;
	margin: 5px;
	width: 100%;
}

#user-check p{
	text-align: center;
	display: inline-block;
	width: 100%;
}

#login, #signup {
	display: none;
}

#logo {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
